body {
    background-color: #181818; /* qara fon */
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#result.animate {
    animation: pulse 1s ease;
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 0.5; }
    50% { transform: scale(1.2); opacity: 1; }
    100% { transform: scale(1); opacity: 0.5; }
}

